*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
}

body {
	padding: 30px;
	font-family: Arial;
	background: #ddd;
}

#root {
	padding: 30px;
	background: #fff;
	border-radius: 5px;
	max-width: 500px;
	margin: 0 auto;
}

#root #app-form #screenBlock {
	display: flex;
	margin-bottom: 24px;
}
#root #app-form #screenBlock input {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px 0px 0px 5px;
	width: 100%;
}

#root #app-form #screenBlock #screenAddBtn {
	background: #1a91d2;
	border-radius: 0px 5px 5px 0px;
	padding: 0px 8px;
	cursor: pointer;
	color: #fff;
	border: none;
}
#listBlock{
	display: flex;
	flex-direction: column;
}
#root #listBlock .listsBlock_Item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 12px;
}

#root #listBlock .listsBlock_Item p span {
	display: none;
	margin-right: 10px;
}

[data-rm] {
	padding: 8px 12px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	background: #f00700;
	color: #fff;
	transition: 0.3s;
}
[data-rm]:hover {
	background: #d00111;
}
.todo_list_id{
	display: none;
}
.inp{
    border: none;
    cursor: pointer;
    pointer-events:none;
}

#text{
	font-size: 19px;
	margin-left: 5px;
	font-family:cursive;
}
[data-cg]{
    width: 20px;
    
}
[data-cg] img{
    width: 15px;
    height: 15px;
}

.non_active_checkbox{
	display: none;
}



h1 {
	margin-bottom: 12px;
	text-align: center;
	color: #555;
	letter-spacing: 1.5px;
}

p {
	margin-bottom: 12px;
	text-align: center;
	color: #566;
}